@font-face {
  font-family: "JetBrains Mono, Regular";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

:root {
  --md-code-font: "ProFont For Powerline" !important;
  --md-header: "ProFont For Powerline" !important; 
  --md-typeset: "ProFont For Powerline" !important
}

p, li {
  /*font-family: "ProFont For Powerline" !important;*/
  font-family: "JetBrains Mono, Regular";
}